// Custom application specific styles
//--------------------------------------

body > header {
    margin-bottom: @line-height-computed;
}

.hero-unit {
    background: @brand-primary;
    //#gradient > .vertical(@brand-primary, 0%, #870000, 100%);
    padding: 0 0 @line-height-computed / 2 @line-height-computed / 2;
    min-height: 110px;
    h1 {
      font-weight: 500;
      color: #000;
    }
    .hero-claim {
      padding: @line-height-computed / 2  @line-height-computed 0 0;
      font-weight: 400;
      font-size: @font-size-base * 2.5;
      color: #fff;
      a {
        color: #fff;
      }
    }
    .hero-brand-container {
        text-align: right;
    }
    .hero-brand {
        display: block;
        .size(200px, 100px);
        background:url(../img/die-linke-kreisverband-augsburg.jpg) no-repeat 0 0 transparent;
        text-indent: -9999px;
        overflow: hidden;
    }
}

.topbar {
    .navbar-main {
        padding-left: 0px;
        border-radius: 0;
        background:transparent;
        border-bottom: 2px solid @gray-lighter;
    }
  .nav > li {
    > a {
      color: @gray-dark;
      font-weight: 700;
      text-transform: uppercase;
      &:hover {
        //color: @gray-dark;
        //background-color: @body-bg;
        border-radius: 0px;
      }
    }
    &.active > a,
    &.selected > a,
    &.active > a:hover,
    &.selected > a:hover,
    &.active > a:focus {
      color: #fff;
      background-color: @brand-primary;
      border-radius: 0px;
      border-bottom-color: transparent;
      cursor: default;
    }
  }
}

#topbar-brand {
  border: 1px solid @gray-light;
  background: @gray-lighter;
  padding: @line-height-computed;
  h3 {
    color: #000;
    margin-bottom: 0px;
    font-size: ceil(@font-size-base * 2.5);
    > a,
    > a:hover {
      color: #000;
    }
  }
  h5 {
    color: @gray-light;
    margin-top: 0px;
  }
}

#hero-unit {
  background: @gray-lighter;
  margin: @line-height-computed 0;
  .hero-unit {
    //background:url(../img/eyes-inverse.png) no-repeat 0 0 transparent;
    padding: @line-height-computed * 1.5 0 @line-height-computed / 2 @line-height-computed / 2;
    min-height: 110px;
    h1 {
      font-weight: 500;
      color: #000;
    }
    .hero-claim {
      padding: @line-height-computed  @line-height-computed 0 0;
      font-weight: 400;
      font-size: @font-size-base * 1.5;
    }
  }
}

// Frontpage overrides

.front-page-body {
    color: @gray-light;
}


.content {
    padding-bottom: @line-height-computed;
}

// Blog entries

.blog-list-link {
    text-transform: uppercase;
    font-family: @app-font-family-alt;
}


#sidebar-content {
  margin-bottom: @line-height-computed;
}


.tile {
    padding: @line-height-computed / 2;
    color: #fff;
    &.tile-primary {
        //background:@brand-primary;
        background: #da0f00;
    }
    .tile-content {
        background:url(../img/sprite-cta-boxes.jpg) no-repeat 0 0 transparent;
        display: block;
        overflow: hidden;
        text-indent: -3000px;
        &.tile-content-clock {
            .size(267px, 200px);
            .center-block();
            background-position: -1px -1px;
        }
    }
}


// Some eample styles for portlets

.portlet {
  .portletHeader {
    font-size: @font-size-base * 1.5;
    padding: @line-height-computed / 2;
    border-bottom: 1px solid @gray-light;
  }
  .portletItem {
    padding: @padding-large-vertical;
  }
  .portletFooter {
    padding: @padding-large-vertical;
    font-size: @font-size-small;
  }
}

// Example styles for listings (e.g. folder summary view)

.tileItem {
  .media();
  .tileHeadline {
    .media-heading();
  }
}


// Example styles for a HMTL5 based site footer
body > footer {
    margin-top: @line-height-computed;
    padding: @line-height-computed 0;
    border-top: 5px solid @brand-primary;
}
