// Settings Bootstrap overrides
// -------------------

@font-size-base:            16px;

@brand-primary:             #e50202;

@app-font-family:           "pt-sans";
@app-font-family-alt:       "source-sans-pro";


// Use web-font as a lorem ipsum replacement - add class "wireframed" to make
// blocks of text act as a placeholder
.app-font {
  font-family: @app-font-family;
  color: @gray;
}

.app-font-alt {
  font-family: @app-font-family-alt;
  color: @gray;
}
